/*stylesheetは上から読み込まれている*/
@import url(sanitize.css);/*htmlでも書いているがcssにsanitizeをimportとして書くのもよい*/
h1 {
    font-size: 30px;
    margin: 0;
}
p {
    font-size: 12px;
}
div.content{
    width: 600px;
    margin: 10px auto;/*marginは余白autoは均等にしてくれる*/
    border:5px solid #f11f;
    border-style:groove;
    padding:5px;/*paddingとはmarginより内側の余白の調整出来る*/
}